
.fab30
{
    height: 30px!important;
    width:30px!important;
}

.my-toast-container
{
    top:1%!important;
    right: 1%!important;
}

.my-toast-container .toasted
{
    background: #333!important;
}

.my-toast-container .error .material-icons
{
    color: #f44336!important;
}

.opacity2
{
    opacity: 0.2;
}

.my-progress-linear
{
    margin:0px;
    position: absolute;
}